button {
  background-color: black;
  color: white;
  border: solid 1px black;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  background-color: #6ca336;
}

div {
  padding: 5px;
}

label {
  display: inline-block;
  line-height: 35px;
}

.buttons {
  float: right;
  margin-top: -3px;
}

.symbol {
  font-family: 'Segoe MDL2 Assets', serif;
  font-size: 10pt;
}

@media screen and (max-width: 770px) {
  div {
    width: 300px;
  }

  .buttons {
    width: 120px;
  }
}
