<h2>AFKEUREN</h2>

<form [formGroup]="rejectionForm" (ngSubmit)="submitRejectedForm()">
  <label class="bold" for="otherRemarks">Feedback aan bedrijf*</label>
  <label class="errorDescription" *ngIf="!externalFeedback.valid && btnSendClicked">&nbsp; Verplicht - Max. 500 karakters</label><br/>
  <textarea id="otherRemarks" class="smallMarginTop middleMarginBottom long" type="text" formControlName="externalFeedback"
            [ngClass]="{error: !externalFeedback.valid && btnSendClicked}"></textarea> <br/>
  <input id="btnConfirm" class="button" type="submit" value="BEVESTIG">

  <div class="spinner" [hidden]="!submitted"></div>

  <label class="rejectionError" *ngIf="rejectionErrorIsVisible">Er is iets misgelopen. Probeer opnieuw.</label>
</form>
