textarea {
  width: 535px;
  height: 100px;
}

.button {
  background-color: black;
  color: white;
  border: solid 1px black;
  padding: 5px;
  font-family: "helvetica-83-heavy-extended", sans-serif;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
}

.button:hover {
  background-color: #6ca336;
  border: solid 1px #6ca336;
}

@media screen and (max-width: 770px) {
  textarea {
    width: 400px;
  }
}
