/* APP COLORS */

$color-white: #FFFFFF;
$color-black: #000000;

$color-dark-forest: #2B4116;
$color-lime: #6ca336;
$color-frosted-pine: #F0F6EB;

$color-pearl-river: #d9d9d9;

$success-light-color: #E5F4E8;
$success-color: #3A853B;

$error-light-color: #FBE6E8;
$error-color: #940C2B;

$warning-light-color: #FEF6D9;
$warning-color: #A77A1F;

