form {
  margin-top: 50px;
}

hr {
  border-top: solid 2px #6ca33699;
  border-bottom: 0;
}

input {
  margin-bottom: 15px;
}

label {
  line-height: 30px;
}

label a span:hover .tooltip {
  display: block;
}

.tooltip {
  margin-left: 30px;
  height: 20px;
  line-height: 15px;
}

p {
  width: 70%;
}

textarea {
  height: 150px;
}

.bigErrorDescription {
  color: red;
  font-size: 12pt;
  margin-left: 20px;
}

.description {
  display: inline-block;
  font-size: 10pt;
  line-height: 15px;
  width: 70%;
}

.error {
  border: solid 2px red;
}

.errorDescription {
  color: red;
  font-size: 8pt;
  margin-bottom: -50px;
}

.fullscreen {
  padding-left: 50px;
  padding-top: 100px;
}

.height {
  height: 22px;
}

.horizontal {
  float: left;
  margin-right: 20px;
}

.line {
  margin-top: 100px;
  margin-bottom: 50px;
}

.long {
  width: 520px;
}

.marginBottomNegative {
  margin-bottom: -50px;
}

.middle {
  width: 250px;
}

.middleMarginBottom {
  margin-bottom: 20px;
}

.middleMarginTopAndBottom {
  margin-top: 40px;
  margin-bottom: 40px;
}

.necessary {
  color: red;
  font-weight: bold;
}

.short {
  width: 90px;
}

.smallMarginTop {
  margin-top: 10px;
}

.smallText {
  font-size: 8.5pt;
  margin-bottom: 4px;
}

.veryShort {
  width: 50px;
}

#btnSend {
  background-color: black;
  color: white;
  border: solid 1px black;
  padding: 15px;
  font-family: "helvetica-83-heavy-extended", sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

#btnSend:hover {
  background-color: #6ca336;
  border: solid 1px #6ca336;
}

@media screen and (max-width: 850px) {
  .fullscreen {
    padding-top: 170px;
  }
}

@media screen and (max-width: 700px) {
  .bigErrorDescription {
    color: red;
    font-size: 10pt;
    margin-left: 5px;
  }

  .horizontal {
    float: none;
  }

  .line {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .long {
    width: 70vw;
  }

  .marginBottomNegative {
    margin-bottom: 0;
  }

  .middle {
    width: 70vw;
  }

  .short {
    width: 70vw;
  }

  .veryShort {
    width: 70vw;
  }
}
