<nav>
  <ul class="blackNavigationHeader">
    <!-- PXL logo -->
    <li><a routerLink="/student/internships"><img id="pxlLogo" src="../../../../assets/images/PXLLogo.png" alt="PXL Logo"></a></li>

    <!-- Signed in as INFORMATION -->
    <li id="signedInAs">
      <div>
        <span class="bold">{{ studentName | titlecase }} &nbsp;</span>
        <label>({{ roleDescription }})</label>
      </div>
      <!-- Button SIGN OUT -->
      <a class="clickableItem" (click)="logOut()">Afmelden</a>
    </li>
  </ul>

  <!-- MENU ITEMS -->
  <ul class="whiteNavigationHeader">
    <li class="navButtonList">
      <div>
        <a class="navButton clickableItem" routerLink="/student/internships" [routerLinkActive]="'active'">Alle stageopdrachten</a>
        <a class="navButton clickableItem" routerLink="/student/myinternships" [routerLinkActive]="'active'">Mijn stageopdrachten</a>
        <a class="navButton clickableItem" routerLink="/student/profile" [routerLinkActive]="'active'">Profiel</a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
