div {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
  padding: 20px;
}

button {
  display: block;
  background-color: #6ca336;
  color: white;
  border: solid 1px #6ca336;
  padding: 15px;
  font-family: "helvetica-83-heavy-extended", sans-serif;
  font-weight: bold;
  font-size: 16pt;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: black;
  border: solid 1px black;
}


