<configuration>
  <!--
  <system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  -->
<system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>