<div class="center box">
  <h2>REGISTRATIE GESLAAGD</h2>
  <p>
    Bedrijf is succesvol geregistreerd.
    <br/><br/>
    De registatie wordt beoordeeld door de stagecoördinator van de PXL Hogeschool Hasselt. Na goed- of afkeuring van
    deze beoordeling verschijnt een e-mail in uw mailbox. Controleer zeker ook de ongewenste mails.
    <br/><br/>
    Wanneer de registratie is goedgekeurd door de stagecoördinator, kan u aanmelden en stageaanvragen indienen voor uw bedrijf.
    <br/><br/>
    Tot binnenkort!
    <br/><br/>
  </p>

  <p><a id="returnHyperlink" routerLink="/login">Keer terug naar de startpagina.</a></p>
</div>
