<!DOCTYPE html>
<body>
    <div class="rps_951d">
        <div style="margin:0px; padding:10px">
                <div class="_2Ypz6DjF0cnPXsnj_7roel" has-hovered="true">
                    <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 700px; transform: scale(1, 1); transform-origin: left top;" min-scale="0.3">
                        <tbody>
                            <tr>
                                <td style="width:47px"></td>
                                <td style="width:130px"><a href="http://www.pxl.be" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="https://wcf.pxl.be/Images/Logo_PXL.jpg" border="0" alt="PXL - De hogeschool met het netwerk" style="display:block"></a></td>
                                <td style="width:586px; font-size:20px; padding-top:2px; font-weight:bold">STAGEBEHEER</td>
                                <td style="width:150px"><img data-imagetype="External" src="https://wcf.pxl.be/Images/beeld_geselecteerd.jpg" border="0" alt="PXL - De hogeschool met het netwerk" style="display:block"></td>
                                <td style="width:47px"></td>
                            </tr>
                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td colspan="3" style="font-family:Arial; font-size:12px">

                                    <p>Beste</p>

                                    <p>{0}</p>                                  

                                    <p>Met vriendelijke groeten <br/>
                                    Stagecoördinator PXL-Digital</p>


                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border-bottom:10px solid #58A618">&nbsp;</td>
                                <td colspan="2" style="height:50px; padding-bottom:5px; border-bottom:10px solid #58A618">
                                    <a href="http://www.pxl.be" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><img data-imagetype="External" src="https://wcf.pxl.be/Images/Logo_Footer2.png" border="0" alt="PXL - De hogeschool met het netwerk" style="display:block"></a>
                                </td>
                                <td style="text-align:right; height:50px; color:#030203; font-family:Arial,Calibri; font-size:10px; padding-bottom:5px; border-bottom:10px solid #58A618">
                                    Elfde-Liniestraat 24<br>
                                    3500 Hasselt<br>
                                    tel. + 32 11 77 55 55 <br>
                                    <a href="mailto:pxl@pxl.be" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="color:#030203; font-family:Calibri; font-size:10px">pxl@pxl.be</a>
                                </td>
                                <td style="border-bottom:10px solid #58A618">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="5">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</body>